
body {
  background-color: lightblue;
}

#name {
  text-align: center;
  margin-top: 330px;
  font-size: 180%;
}

.links{
  font-size: 150%;
  display: inline-block;
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
  color: SteelBlue;
}


a {
  color: SteelBlue;
  text-decoration: none;
}

p {
  font-size: 120%;
  margin-top: 40px;
}
